.contenedor-AL{
    padding-top: 60px;
    padding-bottom: 50px;
}
.container-aparland{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

}
.span-ap{
    border-top: solid 5px #f8c217 ;
    width: 250px;
    margin: auto auto;
    transform: rotate(-2deg);
}
.titulo-aparland1, .titulo-aparland2{
    text-align: center;

}
.titulo-aparland1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
}

.titulo-aparland2{
    padding-bottom: 20px;
}
.secc-1, .secc-2{
    margin-bottom: 20px;
}
.secc-1 img, .secc-2 img{
    width: 350px;
    margin-right: 20px;
    border-radius: 2px;
    
}
.ver-deptos{
    background:  #f8c217 ;
    border: none ;
    border-radius: 5px;
    color: #333332;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 35px ;
    margin: 30px auto;
}
.ver-deptos:hover{
    color: #fff;
}