.d-block{
    height: 830px;
    object-fit: cover;
    padding-top: 30px;
    cursor: auto;
}
/*Seccion 1: descripcion y servicios*/
.seccion1{
    display: flex;
    flex-direction: row;
    margin: 60px 10px;

}
.descDeptos{
    width: 50vw;
    height: 340px;
}
.texto-desc{
    width: 500px;
}
.amenities{
    width: 50vw;
    height: 340px;
}
.imagenes-amn{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    padding: 20px 10px;
}
.chau{
    padding-left: 85px;
    padding-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.hola{
    width: 60px;
    height: 60px;
    margin-left: 80px;
    margin-top: 35px;
}
/*iconos servicios*/
#personas{
    background: url(https://image.flaticon.com/icons/svg/478/478536.svg);
}
#banio{
    background: url(https://image.flaticon.com/icons/svg/853/853788.svg);
}
#balcon{
    background: url(https://image.flaticon.com/icons/svg/82/82490.svg);
}
#piso{
    background: url(https://image.flaticon.com/icons/svg/544/544917.svg);
}
#ascensor{
    background: url(https://image.flaticon.com/icons/svg/887/887331.svg);
}


/*Seccion 2: valoracion y ubicacion*/

.seccion2{
    margin: 60px 10px;
    display: flex;
    flex-direction: row;
}
.evaluaciones{
    background: url("https://firebasestorage.googleapis.com/v0/b/best-at-3697b.appspot.com/o/fondos%2Fpizarra.jpg?alt=media&token=45f07316-4a32-4a9e-8cb6-e65353ddd68f");
    width: 50vw;
    height: 340px;
    padding-top: 50px;
    margin-right: 15px;
    color: white;
}
#estrellas{
    width: 100px;
    height: 100px;
    margin-left: 290px;
    margin-bottom: 15px;
}
.ubicDeptos{
    width: 50vw;
    height: 340px;
}
/*Seccion 3: deptos similares*/

.seccion3{
    margin-top: 10px;
    margin-bottom: 70px;
}
.similDeptos{
    width: 100vw;

}
