nav.navbar {
    background-color: #292724 !important;
    width: inherit ;
    
}
div.dropdown-menu{
    background-color: #292724 !important;

}
div.dropdown-menu :hover{
    background-color: skyblue !important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: skyblue !important;

}
a {
    color: white !important;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
};

.container{
    display: flex;
    justify-content: flex-end;
};
.logo{
    margin-left: 70px;
}
