.page-footer{
    background: url("https://firebasestorage.googleapis.com/v0/b/best-at-3697b.appspot.com/o/fondos%2Fpizarra.jpg?alt=media&token=45f07316-4a32-4a9e-8cb6-e65353ddd68f");
;

}

.contenedor{
    
    padding-left: 2em;
    padding-right: 2em;

}
.title{
    color: whitesmoke;
}
h3{
    text-align: left;
}
p{
    font-size: 12px;
}
.link-footer{
font-size: 16px; 
color: aquamarine;   
}

.links{
    text-align: start!important;
    line-height:2 !important;
    letter-spacing: 0.7px !important;
    padding-left: 0px !important;
}

#rrss{
    padding-left: 0px !important;
    margin-right: 10px;
    box-shadow: black 5px 5px 5px !important;

    
}

/*MEDIA QUERYS*/
@media (min-width:300px) and (max-width:767px){
        #rrss_cont   {
        justify-content: center !important;  
        }
        #links{
            text-align-last: center;        }
}
