.titulo{
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedorP{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px !important;

}
.card{
  margin: 15px 20px !important;
  cursor: pointer;

}