.about-cont{
    height: 280px;
    text-align: center;
    margin-top: 50px;
}

.span{
        border-top: solid 5px #f8c217 ;
        width: 250px;
        margin: 20px auto;

}
.texto-about{
    padding-top: 20px;
    width: 550px;
    margin: auto auto;
    font-size: 18px;
    line-height: 30px;

}
.titulo-about{
    font-size: 35px;
    text-transform: uppercase;

}