.cont-valora{
    background:#333332;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.titulo_valora{
    width: 50%;
    margin: 0%; 
}
.titulo_valora1, .titulo_valora2, .titulo_valora3 {
    color: white;
    text-align: center;
}
.titulo_valora1{
    font-weight: bold;
    font-size: 40px;
    font-family: gabelisa;
    letter-spacing: 2px;
    transform: rotate(-4deg);

}
.titulo_valora2{
    text-shadow: #000000 3px 3px 3px;
    padding-top: 3px ;
    font-size: 35px;
}
.text-slider{
    width: 60%;

}
@media (max-width: 1000px){
    .cont-valora{
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    .titulo_valora{
        margin-top: 10%;
    }
    .text-slider{
        width: 100%;
        margin-top: 0;
    }
    .titulo_valora1{
        font-size: 30px;
    }
    .titulo_valora2{
        font-size: 25px;
    }
}
