body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}
@font-face{
    font-family: gabelisa;
    src: url(/fonts/gabelisa.otf);
}
a:hover{
    color: #f8c217 !important ;
    text-decoration: none;
    transition: 0.5s;
}